{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Python to EXE converter online</h1>
  <p class="lead">Easy and simple to use</p>
  <p>Title: {{ app_data['html_title'] }}</p>
  <link rel="stylesheet" href="../static/file.css">
</head>
<body>
<!-- partial:index.partial.html -->
        <form
      action="/upload"
      method="POST"
      enctype="multipart/form-data"
    >
  <input type="file" multiple>
  <p>Drag your file here or click in this area.</p>
  <button type="submit">Upload .PY file</button>
</form>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../static/file.js"></script>
</body>
</html>
{% endblock %}


<!--  Index -->

{% extends 'layout.html' %} {% block body %}
<div class="jumbotron">
  <h1 class="display-4">Python to EXE converter online</h1>
  <p class="lead">Easy and simple to use</p>
  <p>Title: {{ app_data['html_title'] }}</p>
</head>
<body>
<h1> Upload Python File</h1>
    <div class="container">
      <div class="row">
        <div class="col">
         <form
      action="/upload"
      method="POST"
      enctype="multipart/form-data"
    >

          <div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="files" id="file">
                <label class="custom-file-label" for="pyfile">Python file</label>
                <input type="submit" class="btn btn-primary" />
              </div>
      </div>
      </div>
    </form>

        </div>
      </div>
    </div>
</body>
</html>
{% endblock %}
